.prettyVC-diploma {
  width: 40em;
  min-height: 12em;
  background: #ffffff;
  border-radius: 0.375009375em;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #18181B;
  overflow: hidden;
}

.prettyVC-diploma-subtext {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.750018750469em;
  line-height: 1em;
  color: #27272A;
  text-align: center;
}

.prettyVC-diploma-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.2em;
  color: inherit;
  flex: none;
  flex-grow: 0;
  margin: 0.25em 0;
  text-align: center;
}
