html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  text-transform: capitalize;
}

select::-ms-expand {
  display: none;
}

option {
  text-transform: capitalize;
}

button {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 6px;
  background-color: #1e75c5;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  button {
    display: none;
  }
}

.prettyVC-title {
  font-family: Montserrat;
}

.prettyVC {
  font-family: Nunito Sans;
}
